 .u-section-1 {
  min-height: 2481px;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-group-1 {
  height: 600px;
  background-image: none;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  --radius: 30px;
  min-height: 52px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-1 .u-group-3 {
  --radius: 30px;
  min-height: 446px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-1 .u-btn-1 {
  --radius: 30px;
  margin: 14px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  --radius: 30px;
  margin: -57px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  font-size: 1rem;
  width: auto;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-group-4 {
  margin-top: 60px;
  margin-bottom: 0;
  height: auto;
  min-height: 393px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 26px auto 0;
}

.u-section-1 .u-form-1 {
  margin: 26px 10px 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-4 {
  --radius: 31px;
}

.u-section-1 .u-group-5 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-form-2 {
  height: 562px;
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 30px;
}

.u-section-1 .u-form-3 {
  height: 164px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-btn-6 {
  --radius: 30px;
  padding: 16px 31px 16px 29px;
}

.u-section-1 .u-btn-7 {
  font-size: 1rem;
  --radius: 30px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    --radius: 30px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    --radius: 30px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    --radius: 30px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2441px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 59px;
  }

  .u-section-1 .u-group-5 {
    margin-bottom: 20px;
    min-height: 1152px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-form-2 {
    height: 773px;
    margin-top: 20px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2378px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-3 {
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 10px 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -58px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 60px;
    min-height: 428px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-5 {
    margin-bottom: -241px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 23px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2357px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-group-2 {
    min-height: 67px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 439px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    padding: 10px 15px 10px 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -57px;
    padding: 10px 14px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    line-height: 1.7;
    transition-duration: 0.5s;
    padding-left: 29px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 411px;
    margin-top: 39px;
  }

  .u-section-1 .u-form-1 {
    --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    height: 291px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-5 {
    min-height: 1144px;
    margin-top: 36px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
  }

  .u-section-1 .u-form-2 {
    height: 823px;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-5 {
    padding: 10px 20px 10px 19px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.25rem;
    margin-top: 24px;
  }
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}